<template>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="row col-9 justify-content-between">
                <div class="form-group row mb-0 col-11">
                    <input type="text" class="form-control" id="textinput" placeholder="Type your message...">
                </div>
                <button class="btn btn-primary col-1" click.delegate="publishMessage('test1', 'Hello')">
                    <i class="far fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </div>
</template>